<div class="container-xs-height full-height" ng-controller="CommonFirstCtrl">
  <div class="row-xs-height">
    <div class="col-xs-height col-middle">
      <div class="text-center">
        <h1 class="semi-bold">Create your first group</h1>
        <div class="row">
          <div class="col-xs-4 col-xs-push-4">
            <form>
              <div class="form-group text-left">
                <input class="form-control" placeholder="Group Name" type="text" ng-model="groupName">
              </div>
              <button id="add-first-group-btn" class="btn btn-primary btn-cons m-b-10" type="button" ng-click="createGroup()"><span class="bold">Create Group</span></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>