<!-- START PAGE-CONTAINER -->
<div class="login-wrapper" ng-controller="AuthSigninCtrl">
    <!-- START Login Background Pic Wrapper-->
    <div class="bg-pic">
        <!-- START Background Pic-->
        <img src="../backApp/assets/img/demo/office-buildings.jpg" data-src="../backApp/assets/img/demo/office-buildings.jpg" ui-jq="unveil" data-src-retina="../backApp/assets/img/demo/office-buildings.jpg" alt="" class="lazy">
        <!-- END Background Pic-->
        <!-- START Background Caption-->
        <div class="bg-caption pull-bottom sm-pull-bottom text-white p-l-20 m-b-20">
            <p class="small">
                © Copyright 2015 hearstcharts - All Rights Reserved
            </p>
        </div>
        <!-- END Background Caption-->
    </div>
    <!-- END Login Background Pic Wrapper-->
    <!-- START Login Right Container-->
    <div class="login-container bg-white">
        <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
            <a href="/">
                <img src="../backApp/assets/img/logo.png" alt="logo" data-src="../backApp/assets/img/logo.png" ui-jq="unveil" data-src-retina="../backApp/assets/img/logo_2x.png" height="30">
            </a>
            <p class="p-t-35">Sign into your hearstcharts account</p>
            <!-- START Login Form -->
            <div id="hiw-login-container"></div>
            <!--END Login Form-->
        </div>
    </div>
    <!-- END Login Right Container-->
</div>
<!-- END PAGE CONTAINER -->