<div ng-controller="DashboardsDetailCtrl" id="dashboardDetail" class="quickview-wrapper" pg-quickview>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <h5>Datasource Details</h5>
  </ul>
  <a class="btn-link quickview-toggle" data-toggle-element="#dashboardDetail" data-toggle="quickview"><i class="pg-close"></i></a>
  <div class="panel">
    <div class="panel-heading">
      <div class="panel-title word-break">{{$parent.selectedDashboard.title}}</div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          <form id="form-work" class="form-horizontal ng-pristine ng-invalid ng-invalid-required" role="form" autocomplete="off" name="work" novalidate="">
            <div class="form-group">
              <label class="col-sm-4 control-label">Created By</label>
              <div class="col-sm-8">
                <p>{{$parent.selectedDashboard.created_by.first_name}} {{$parent.selectedDashboard.created_by.last_name}}</p>
                <p class="hint-text small"><i class="ti-time"></i> {{ $parent.selectedDashboard.created_on | date:'medium'}}</p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label">Modified By</label>
              <div class="col-sm-8">
                <p>{{$parent.selectedDashboard.modified_by.first_name}} {{$parent.selectedDashboard.modified_by.last_name}}</p>
                <p class="hint-text small"><i class="ti-time"></i> {{ $parent.selectedDashboard.modified_on | date:'medium'}}</p>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-8 col-sm-push-4">
                <a href="">View Dashboard</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
