<div ng-controller="DashboardsListCtrl">
	<!-- START PAGE -->
	<div class="page" class="full-height">
		<!-- START PAGE CONTENT WRAPPER -->
		<div class="full-height">
			<!-- START PAGE CONTENT -->
			<div class="content" class="full-height">
				<div class="container-fluid container-fixed-lg ng-scope">
					<h2 class="pull-left m-l-15">{{dashboards.length}} Dashboards</h2>
					<div class="toolbar-icon-bg pull-left m-t-15 m-l-15" id="toolbar-search">
						<div class="input-group search-icon">
							<i class="ti ti-search"></i>
							<input ng-model="searchText" type="text" class="form-control" placeholder="Search...">
						</div>
					</div>
					<button ui-sref="dashboard.create" class="btn btn-primary pull-right m-t-15 m-r-15"><i class="fa fa-th"></i> Create a Dashboard</button>
					<div class="clearfix"></div>
					<div class="panel-heading">
						<div class="pull-left">
							<ul class="list-inline">
								<li class="ml-20 mr-0">
									<span>Sort By:</span>
								</li>
								<li ng-class="{ 'active': predicate === 'title'}">
									<span ng-click="order('title')">Title</span>
									<span class="sortorder" ng-show="predicate === 'title'" ng-class="{reverse:reverse}"></span>
								</li>
								<li ng-class="{ 'active': predicate === 'modified_by.first_name'}">
									<span ng-click="order('modified_by.first_name')">Last Author</span>
									<span class="sortorder" ng-show="predicate === 'modified_by.first_name'" ng-class="{reverse:reverse}"></span>
								</li>
								<li ng-class="{ 'active': predicate === 'modified_on'}">
									<span ng-click="order('modified_on')">Last Updated</span>
									<span class="sortorder" ng-show="predicate === 'modified_on'" ng-class="{reverse:reverse}"></span>
								</li>
								<li ng-class="{ 'active': predicate === 'cards'}">
									<span ng-click="order('cards')">Cards</span>
									<span class="sortorder" ng-show="predicate === 'cards'" ng-class="{reverse:reverse}"></span>
								</li>
							</ul>
						</div>
						<div class="global-panel-action-right">
							<ul class="list-inline" ng-if="user.permissions.Dashboards.View && user.permissions.Dashboards.Delete">
								<li>
									<span tooltip="Delete">
										<i ng-click="deleteAllDashboards()" class="ti-trash"></i>
									</span>
								</li>
								<li>
									<label tooltip="Select">
										<input type="checkbox" ng-click="selectAllDashboards(selectAll);" ng-model="selectAll">
									</label>
								</li>
							</ul>
						</div>
					</div>
					<div class="panel-body">
						<table class="table table-details table-hover table-responsive">
							<thead></thead>
							<tbody>
							<tr ng-repeat="dashboard in dashboards | filter:searchText | orderBy:predicate:reverse">
								<td width="120">
									<img width="120" class="thumbnail" data-ng-src="{{ dashboard.thumb_url }}">
								</td>
								<td>
									<span tooltip="View Dashboard">
										<i class="ti-pie-dashboard"></i> <b>{{ dashboard.title }}</b>
									</span>
									<br>
									<span tooltip="View Details">
										<a href="" ng-click="shareDashboard(dashboard)" data-toggle="quickview" data-toggle-element="#dashboardDetail"><i class="ti-eye"></i> View Details</a>
									</span>
								</td>
								<td>
									<span tooltip="Updated By">
										<i class="ti-user"></i> {{ dashboard.modified_by.first_name }} {{ dashboard.modified_by.last_name }}
									</span><br>
									<span tooltip="Last Updated">
										<i class="ti-time"></i> {{ dashboard.modified_on | date:'medium'}}
									</span>
								</td>
								<td>
									<span tooltip="Cards">
										<i class="ti-pie-chart"></i> {{ dashboard.cards.length }} Cards
									</span>
								</td>
								<td>
									<ul class="list-inline pull-right">
										<li tooltip="Share" data-toggle="quickview" data-toggle-element="#dashboardShare">
											<i ng-click="shareDashboard(dashboard)" class="ti-share"></i>
										</li>
										<li ng-click="editDashboard(dashboard._id)" tooltip="Edit">
											<i class="ti-pencil-alt"></i>
										</li>
										<li tooltip="Delete">
											<i ng-click="deleteDashboard(dashboard)" class="ti-trash"></i>
										</li>
										<li>
											<label tooltip="Select">
												<input type="checkbox" ng-click="selectDashboard(dashboard)" ng-checked="selected(dashboard)" checked>
											</label>
										</li>
									</ul>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END PAGE -->
	<!--START DASHBOARD SETTINGS -->
		<div ng-include src=" '../backApp/dashboards/partial/dashboards.share/dashboards.share.html' " include-replace>
		</div>
	<!-- END DASHBOARD SETTINGS-->
	<!--START DASHBOARD DETAIL -->
	<div ng-include src=" '../backApp/dashboards/partial/dashboards.detail/dashboards.detail.html' " include-replace>
	</div>
	<!-- END DASHBOARD DETAIL -->
</div>